body {
  font-family: 'Open Sans', sans-serif;
  font-size: 16px;
  line-height: 1;
  background-color: rgba(248, 226, 229, 0.089);
}

textarea{
  background: transparent;
  border: none;
  resize: none;
  color: #000000;
  border-left: 1px solid black;
  padding: 10px;
}

.jumbotron {
  text-align: center;
  background-color: transparent;
  background-image: url("images/pink-background.jpg");
  color: black;
  border-radius: 0;
  border-bottom: 10px solid black;
}

.description{
  white-space: pre-wrap;
}

.time-block{
  text-align: center;
  border-radius: 15px;
  border-bottom: 1px solid;
}

.row {
  white-space: pre-wrap;
  height: 80px;
  border-top: 1px solid white;;
}

.hour {
  background-color: #ffffff;
  font-weight: bold;
  color: #000000;
  border-top: 1px dashed #000000;
  border-left: 1px solid;
}

.past {
  background-color: rgb(194, 194, 194);
  color: white;
}

.present {
  background-color: pink;
  color: white;
}

.future {
  background-color: rgb(248, 132, 151);
  color: white;
}

.saveBtn {
  border-left: 1px solid black;
  border-top-right-radius: 15px;
  border-bottom-right-radius: 15px;
  background-color: #77084d;
  color: white;
}

.saveBtn i:hover {
  font-size: 20px;
  transition: all .3s ease-in-out;
}

.saveBtn:hover {
  background-color: #5c043a;
}